name: Deploy Frontend

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to VPS
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USERNAME }}
        key: ${{ secrets.VPS_SSH_KEY }}
        script: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          cd /var/www/crova/frontend
          
          echo "Resetting local changes..."
          git fetch --all
          git reset --hard origin/main
          
          echo "Installing dependencies..."
          npm install
          
          echo "Building frontend..."
          npm run build
          
          echo "Frontend deployed successfully!"
